*
{
    margin:0;
    padding:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
}
.box 
{

width:60%;
height:1000px;
background-color: black;
margin-left:300px;
border:2px solid white;
box-shadow: 2px 2px 3px black;
border-radius:5%;

}
.heading
{
  
  color:white;
  margin-left:280px;
  margin-top:40px;
}
.image img
{
    position:absolute;
    height:350px;
    width:350px;
    margin-left:200px;
    margin-top:30px;
    box-shadow: 2px 2px 2px white;
    backface-visibility: hidden;
}
.backimage img
{
 height:350px;
    width:350px;
    margin-left:200px;
    margin-top:30px;
    box-shadow: 2px 2px 2px white;  
    z-index:1;
    transform: rotateY('180deg');
}
.flip:hover
{
    transform: translateY(180deg);
    
    
}
.text section ul  {
    
    color:white;
    align-items:center;
    width:700px;
    margin-left:60px;
    margin-top:30px;
}
 li::marker
{
content:"🦈";

}